Flask==2.1.1
flask_cors==3.0.10
easyocr==1.4.1
torch==1.9.0+cpu  # or appropriate torch version compatible with easyocr and your system
numpy==1.21.0  # required for easyocr
opencv-python-headless==4.5.3.56  # used by easyocr for image processing
